name: ci
on: [push, pull_request]
jobs:
  unittests:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '~1.14.4'
      - run: make alldeps
      - run: make test-unit
